{% extends 'base.html' %} 
{% block content %} 
{% if form.non_field_errors %} 
{%for error in form.non_field_errors %} 
{{request.user}}
<div class="bg-red-200 border border-red-400 text-red-400 px-4 py-3">
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} 
{% endif %}

<style>
  input[type="text"] {
    padding: 12px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
</style>

<h1 class="font-bold text-4xl text-center mt-6 py-3  text-[#5AE4A8]">Log In</h1>
<div class="px-1 py-0.5 bg-[#5AE4A8] w-10 mx-auto mb-5"></div>

<div class="my-8 flex justify-between items-center">
  <div class="mx-auto">
    <img
      src="https://img.freepik.com/free-vector/secure-login-concept-illustration_114360-4320.jpg?w=740&t=st=1710178575~exp=1710179175~hmac=c5ab050bd04095d3fa758a2c2b6cca90caf3ae54ae85da1f390d47c60a7bfc23"
      alt="#"
    />
  </div>
  <div class="mx-auto">
    <form
      method="post"
      class="bg-gray-100 shadow-lg rounded-lg px-16 py-16"
    >
      {% csrf_token %} 
      {% for hidden_field in form.hidden_fields %} 
      {{ hidden_field.errors }} 
      {{ hidden_field }} 
      {% endfor %}

      {% for field in form.visible_fields %}
      <div>
        <div class="w-full px-3 mb-6">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="{{ field.id_for_label }}"
          >
            {{ field.label }}
          </label>
          <input class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
        </div>
      </div>
      {% if field.errors %}
      {% for error in field.errors %} 
      <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
      {% endfor %}
      {% endif %}
      {% endfor %}
      <div class="text-center mt-6">
        <button
        class="hover:bg-white text-white bg-[#5AE4A8] hover:text-[#5AE4A8] border-[#5AE4A8] border-opacity-100 font-bold py-2 px-4 mt-2 rounded" style="border: 1px solid #5AE4A8;" type="submit"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}